/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('./images/v748-toon-107.jpg') fixed center;
    padding: 2rem 10rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header / Nav */

header {
    margin-bottom: 5rem;
}

nav,
.nav-logo a,
.nav-links {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
}

.nav-img {
    width: 50px;
}

.nav-logo a {
    gap: 1rem;
}
.nav-logo a span {
    font-size: 2rem;
}

.nav-links {
    list-style: none;
    width: 400px;
    justify-content: space-between;
    font-size: 1.5rem;
}

/* Main */

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-content h1 {
    font-size: 5rem;
    margin: 0;
}

.main-content h2 {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}
.main-content h2 span {
    /* color: #353535; */
    color: crimson;
}

.main-content p {
    font-size: 1.5rem;
}
.main-content p span {
    color: midnightblue;
    font-weight: 500;
}

.main-img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}